{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | M-Soma Lab</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <meta name="twitter:site" content="@PulseredHQ">
    <meta name="twitter:title" content="Pulse.red — track your project’s time.">
    <meta name="twitter:description" content="Powerful time tracker for those who appriciate simplicity. No useless infographics; stay focused on the main things.">
    <meta name="twitter:url" content="https://pulse.red">
    <meta name="twitter:image" content="https://pulse.red/og-image.png">
    <meta name="description" content="Powerful time tracker for those who appriciate simplicity. No useless infographics; stay focused on the main things.">
    <meta property="og:site_name" content="Pulse.red">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pulse.red">
    <meta property="og:title" content="Pulse.red — track your project’s time.">
    <meta property="og:description" content="Powerful time tracker for those who appriciate simplicity. No useless infographics; stay focused on the main things.">
    <link rel="mask-icon" href="mask-icon.svg%3Fv=2" color="#D0021B">
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-031211-010285.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css"/> 
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" type="text/css"/> 
    <!-- Stylesheets -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'ide/css/bootstrap.min.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'ide/css/custom.css' %}" />
</head>

<body>
    <!-- Hidden input field containing CSRF token required for making AJAX calls to Django -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <input type="hidden" id='saved_code_content' value="{{ code_content }}" />
    <input type="hidden" id='saved_code_lang' value="{{ lang }}" />
    <input type="hidden" id='saved_code_input' value="{{ inp }}" />
    <input type='hidden' id='compile_status' value={{compile_status}} />
    <input type='hidden' id='run_status_status' value={{run_status_status}} />
    <input type='hidden' id='run_status_time' value={{run_status_time}} />
    <input type='hidden' id='run_status_memory' value={{run_status_memory}} />
    <input type='hidden' id='run_status_output' value={{run_status_output}} />
    <input type='hidden' id='run_status_stderr' value={{run_status_stderr}} />
    <!-- <textarea id='copy_link' readonly></textarea> -->
    <div class="header-blk">
        <div class="container">
            <div class="header-blk__container">
                <div class="header-blk__ticker">
                    <a class="header-logo" href="/dashboard">M-Soma Lab<span>.</span></a>
                    <a class="header-dot" href="/dashboard"></a>
                </div>
                <div class="header-blk__nav">
                    <div class="header-nav">
                        <a class="header-nav__item " href="{% url 'explore' %}">Explore</a>
                        <a class="header-nav__item " href="{% url 'explore' %}">Discuss</a>
                        <div class="header-nav__divider">|</div>
                        <div class="header-nav__item dropdown dropdown-usr">
                            <div class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}</div>
                            <ul class="dropdown-menu dropdown-usr__menu">
                                <li><a href="/profile">Settings</a></li>
                                <li><a href="/activity">Activity</a></li>
                                <li><a href="/subscription">Subscription</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                <li class="dropdown-usr__mob-name">{{ user.username }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-toolbar">
            <div class="header-toolbar__content">
                <div class="header-toolbar__heading">Exercises</div>
            </div>
        </div>
        <form class="toolbar-report" action="/report" method="get" data-behavior="toolbar_report">
            <input type="hidden" name="start" value="2018-10-01">
            <input type="hidden" name="end" value="2018-10-31">
            <!-- <div class="toolbar-report__control toolbar-report__control--wide">
                <div class="toolbar-dashboard__date-picker">
                    <input class="form-control" type="daterange" data-start-date="01 Oct 2018" data-end-date="31 Oct 2018">
                    <i class="fa fa-angle-down"></i>
                </div>
            </div> -->
            <div class="toolbar-report__control toolbar-report__control--inline">
                <select class="form-control-grey" name="grouping">
                    <option selected="" value="project">Easy</option>
                    <option value="user">Medium</option>
                    <option value="user">Hard</option>
                </select>
            </div>
            <div class="toolbar-report__control toolbar-report__control--inline">
                <select class="form-control-grey" name="grouping" data-placeholder="Select a project">
                    <option>Select topic</option>
                    <option value="5117567">Strings</option>
                    <option value="8197373">Lists</option>
                    <option value="8423212">Arrays</option>
                    <option value="7397354">Dictionaries</option>
                </select>
            </div>
            <div class="no-mob">
                <span class="tooltip-wrapper">
                    <a class="toolbar-report__btn has-tooltip" href="/report.pdf?start=2018-10-01&amp;end=2018-10-31&amp;grouping=project"><i class="fa fa-file-pdf"></i></a>
                    <div class="tooltip">
                        <span>Create&nbsp;PDF</span>
                    </div>
                </span>
            </div>
            <div class="toolbar-report__addon">                        
                <div class="toolbar-report__range">
                    <a href="#"><i class="fa fa-angle-left"></i></a>
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </form>


        <table class="table table-group table-block">
            <colgroup>
                <col style="width: 80%">
            </colgroup>
            <tbody>
                <tr class="table-caption">
                    <td class="table-block__primary-left">
                        <a href="#">
                            Add Two Numbers
                        </a>
                    </td>
                    <td class="text-right table-block__primary-right">
                        2 Tests Passed
                    </td>
                </tr>
                <tr>
                    <td class="table-block__primary-left">
                        <p>Saitabau <strong class="text-success">created</strong> <span class="text-muted">a task</span> You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order and each of their nodes contain a single digit. Add the two numbers and return it as a linked list. You may assume the two numbers do </p>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="table-block__primary-left">
                        <p>Saitabau <strong class="text-success">created</strong> <span class="text-muted">a task</span> You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order and each of their nodes contain a single digit. Add the two numbers and return it as a linked list. You may assume the two numbers do </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-block">
            <thead id="editor-topbar">
                <tr>
                    <th class="lang-choose">
                        <select class="form-control" name="lang" id="lang">
                            <option value="C">C (gcc 4.8.1)</option>
                            <option value="CPP" selected>C++ (g++ 4.8.1)</option>
                            <option value="CSHARP">C#</option>
                            <option value="CLOJURE">Clojure (clojure 1.1.0)</option>
                            <option value="CSS">CSS</option>
                            <option value="HASKELL">Haskell (ghc 7.4.1)</option>
                            <option value="JAVA">Java (openjdk 1.7.0_09)</option>
                            <option value="JAVASCRIPT">JavaScript</option>
                            <option value="OBJECTIVEC">Objective-C (clang 3.3)</option>
                            <option value="PERL">Perl (perl 5.14.2)</option>
                            <option value="PHP">PHP (php 5.3.10)</option>
                            <option value="PYTHON">Python (python 2.7.3)</option>
                            <option value="R">R (RScript 2.14.1)</option>
                            <option value="RUBY">Ruby (ruby 2.1.1)</option>
                            <option value="RUST">Rust (rustc 1.4.0)</option>
                            <option value="SCALA">Scala (scalac 2.9.1)</option>
                        </select>
                    </th>
                    <!-- <th id="settings">
                        <div id="settings-pane">
                            <div id="inner-settings-pane"></div>
                            <label>Editor Theme</label>
                            <select class="form-control" name="editor-theme" id="editor-theme">
                                <option value="LIGHT">Light</option>
                                <option value="DARK" selected>Dark</option>
                            </select>
                            <label>Indent Spaces</label>
                            <input class="form-control" name="indent-spaces" id="indent-spaces" type="text" value="4">
                        </div>
                    </th> -->
                </tr>
            </thead>
            <tbody>
                <tr><td><pre id="editor"></pre></td></tr>
                <tr><td><div id="editor-statusbar"></div></td></tr>
            </tbody>
        </table>
        <table class="table table-block">
            <tbody id="show-results">
                <td class="table-block__audit">
                    <label>
                        <input type="checkbox" id="custom-input-checkbox"> Use custom input to test the code
                    </label>
                </td>
                <td class="table-block__audit">
                    <button class="btn-secondary" id="compile-code" data-toggle="tooltip" data-placement="top" title="Press Shift+Enter">Compile</button>
                    <button class="btn-secondary" id="run-code" data-toggle="tooltip" data-placement="top" title="Press Ctrl+Enter">Run</button>
                </td>
            </tbody>
        </table>
        <table class="table table-block">
            <div class="custom-input-container">
                    <textarea id="custom-input" class="nice-textarea" placeholder="Custom input"></textarea>
                </div>
        </table>
        <table class="table table-block">
            <colgroup>
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
            </colgroup>
            <thead class="output-response-box">
              <tr class="output-details">
                <th class="output-details-info run-status">
                    <div class="key">Run Status:</div>
                    <div class="value"></div>
                </th>
                <th class="output-details-info compile-status">
                    <div class="key">Compile Status:</div>
                    <div class="value"></div>
                </th>
                <th class="output-details-info time-sec">
                    <div class="key">Time (sec):</div>
                    <div class="value"></div>
                </th>
                <th class="output-details-info memory-kb">
                    <div class="key">Memory (KB):</div>
                    <div class="value"></div>
                </th>
              </tr>
            </thead>
            <tbody class="output-response-box">
                <tr class="output-io">
                    <td class="output-error-box">
                        <div class="error-key"></div>
                        <pre class="error-message"></pre>
                    </td>
                    <td class="output-io-info output-i-info">
                        <div class="key">Input (stdin)</div>
                        <pre class="output-text output-i"> </pre>
                        <span class="output-empty-message output-i-message"><i>Standard input is empty</i></span>
                    </td>
                    <td class="output-io-info output-o-info">
                        <div class="key">Output (stdout)</div>
                        <pre class="output-text output-o"> </pre>
                        <span class="output-empty-message output-o-message"><i>Standard output is empty</i></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer-blk">
        <div class="container">
            <div class="footer-blk__container">
                <div class="footer-blk__copyright">
                    © 2018 <span class="footer-logo">M-Soma <span>Institute</span></span>
                </div>
                <div class="footer-blk__nav">
                    <div class="footer-nav">
                        <a href="/privacy" target="_blank" class="footer-nav__item">Privacy Policy</a>
                        <a href="/terms" target="_blank" class="footer-nav__item">Terms of use</a>
                    </div>
                    <div class="footer-nav footer-nav--right">
                        <a href="https://instagram.com/msoma.institute" target="_blank" class="footer-nav__item no-mob">Instagram</a>
                        <a href="mailto:hello@msoma.org" class="footer-nav__item"><i class="fa fa-envelope-open"></i> hello@msoma.org</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'ide/js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap (include all individual files below) -->
    <script src="{% static 'ide/js/custom.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ide/js/FileSaver.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ide/js/jszip.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ide/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ide/ace-builds/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ide/ace-builds/src/ext-statusbar.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ide/ace-builds/src/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- Include all the custom js here -->

    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project = 9940142;
    var sc_invisible = 1;
    var sc_security = "b0991b09";
    var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" +
        scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
    </script>
    <noscript>
        <div class="statcounter">
            <a title="site stats" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/9940142/0/b0991b09/1/" alt="site stats"></a>
        </div>
    </noscript>
    <!-- End of StatCounter Code for Default Guide -->
</body>

</html>