{% extends 'header.html' %} {% block title %}Home{% endblock %} {% block content %}
<div class="container">
    <div class="header-toolbar">
        <div class="header-toolbar__content">
            <div class="header-toolbar__heading">Courses</div>
        </div>
        <div class="header-toolbar__actions">
            <a class="btn-primary btn-action btn-plus" href="#">Enroll now</a>
        </div>
    </div>
    <table class="table table-block">
        <colgroup>
            <col style="width: 57.14%">
            <col style="width: 11.43%">
            <col style="width: 8.57%">
            <col style="width: 8.57%">
            <col style="width: 8.57%">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th class="no-mob">Updated</th>
                <th class="text-right table-block__right-grouped">Duration</th>
                <th class="text-right table-block__right-grouped">Estimate</th>
                <th class="text-right no-mob">Difference</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/5117567/task">Add Two Numbers</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="mob-alert">4:46</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-alert">-5</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/8197373/task">Longest Substring Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="mob-alert">0:00</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-alert">-0:00</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/8423212/task">Substring Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-muted">0</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/7397354/task">Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-muted">0</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/5117567/task">Add Two Numbers</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="mob-alert">4:46</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-alert">-5</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/8197373/task">Longest Substring Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="mob-alert">0:00</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-alert">-0:00</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/8423212/task">Substring Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-muted">0</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/7397354/task">Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-muted">0</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/5117567/task">Add Two Numbers</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="mob-alert">4:46</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-alert">-5</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/8197373/task">Longest Substring Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="mob-alert">0:00</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-alert">-0:00</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/8423212/task">Substring Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-muted">0</span>
                </td>
            </tr>
            <tr>
                <td class="table-block__primary table-block__primary--projects">
                    <a href="/project/7397354/task">Without Repeating Characters</a>
                </td>
                <td class="text-muted no-mob">
                    03 Oct 2018
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right table-block__primary-right-grouped">
                    <span class="text-muted">0</span>
                </td>
                <td class="text-right no-mob">
                    <span class="text-muted">0</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}