<!DOCTYPE html>
<html>
<head>
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-464416-24"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-464416-24');
        </script>
                <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '228947137647520');
          fbq('track', 'PageView');
        </script>
        <noscript>
            <img style="display: none" height="1" width="1" src="https://www.facebook.com/tr?id=228947137647520&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pulse.</title>
    <meta name="twitter:site" content="@PulseredHQ">
    <meta name="twitter:title" content="Pulse.red — track your project’s time.">
    <meta name="twitter:description" content="Powerful time tracker for those who appriciate simplicity. No useless infographics; stay focused on the main things.">
    <meta name="twitter:url" content="https://pulse.red">
    <meta name="twitter:image" content="https://pulse.red/og-image.png">
    <meta name="description" content="Powerful time tracker for those who appriciate simplicity. No useless infographics; stay focused on the main things.">
    <meta property="og:site_name" content="Pulse.red">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pulse.red">
    <meta property="og:title" content="Pulse.red — track your project’s time.">
    <meta property="og:description" content="Powerful time tracker for those who appriciate simplicity. No useless infographics; stay focused on the main things.">
    <meta property="og:image" content="https://pulse.red/og-image.png">
    <link rel="icon" type="image/png" href="/favicon.png?v=1">
    <link rel="mask-icon" href="/mask-icon.svg?v=2" color="#D0021B">
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-031211-010285.css" type="text/css" />
        <link rel="stylesheet" href="/build/vendor.fd481c34.css" />
    <link rel="stylesheet" href="/build/global.85d419bd.css">
</head>

<body class="default">
        <div class="header-blk">
        <div class="container">
            <div class="header-blk__container">
                <div class="header-blk__ticker">
                    <a class="header-logo" href="/dashboard">Pulse<span>.</span></a>
                                            <a class="header-ticker" href="/dashboard"
   data-behavior="ticker"
   data-ticker="143"
   data-ticker-title="%s - Pulse."
   class="header-ticker__inner">00:00</a>

                                        <a class="header-dot" href="/dashboard"></a>

                    <div class="header-blk__trial">
                                                                                                                                                                                            </div>
                </div>
                <div class="header-blk__nav">
                    <div class="header-nav">
                                                    <a class="header-nav__item " href="/dashboard">Timer</a>
                                                
                                                    <a class="header-nav__item " href="/project">Projects</a>
                        
                                                    <a class="header-nav__item active" href="/member">Team</a>
                        
                        <a class="header-nav__item " href="/report">Reports</a>

                        <div class="header-nav__divider">|</div>

                        <div class="header-nav__item dropdown dropdown-usr">
                            <div class="dropdown-toggle" data-toggle="dropdown">Saitabau</div>
                            <ul class="dropdown-menu dropdown-usr__menu">

                                <li><a href="/profile">Settings</a></li>

                                                                    <li><a href="/activity">Activity</a></li>
                                
                                
                                                                    <li><a href="/subscription">Subscription</a></li>
                                
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">Logout</a></li>
                                <li class="dropdown-usr__mob-name">Saitabau</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="starter-blk">
        <div class="starter-blk__inner">
            <div class="starter-blk__heading">My team</div>
            <div class="starter-blk__text">You are alone here. Feel free to add teammates or guest users.</div>

            <div class="starter-blk__commit">
                                    <a class="btn-primary" href="/member/new">Invite user</a>
                            </div>

            <div class="btn-popover">Please <a class="link-inverse" href="/subscription">Subscribe</a> to Team plan to add users.</div>
        </div>
    </div>
    </div>

    <div class="footer-blk">
    <div class="container">
        <div class="footer-blk__container">
            <div class="footer-blk__copyright">
                © 2018 <span class="footer-logo">Pulse<span>.</span></span>
            </div>
            <div class="footer-blk__nav">
                <div class="footer-nav">
                    <a href="/privacy" target="_blank" class="footer-nav__item">Privacy Policy</a>
                    <a href="/terms" target="_blank" class="footer-nav__item">Terms of use</a>
                </div>
                <div class="footer-nav footer-nav--right">
                    <a href="https://twitter.com/PulseredHQ" target="_blank" class="footer-nav__item no-mob">Twitter</a>
                    <a href="mailto:hello@pulse.red" class="footer-nav__item"><i class="fa fa-envelope-open"></i> hello@pulse.red</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="footer-notice">
        <div class="container">                                                                                                                                                </div>
    </div>

            <script src="/build/manifest.d41d8cd9.js"></script>
    <script src="/build/vendor.dc2aef66.js"></script>
    <script src="/build/app.c618286c.js"></script>
</body>
</html>